:root{
    --background: #ecedef;
    --foreground: #2b2a25;
    --light: #fff;
    --black: #000;
    --dark: #333;
    --darkish: #686261;
    --dimmed: #424242;
    --gray: #54595f;;
    --vanished: #dedede;
    --light-primary: #a4e7a4;
    --primary: #009845;
    --dark-primary: #0d5327;
    --secondary: #e5b947;
    --dark-secondary: #bb8d1a;
    --green: #a4e7a4;
    --dark-green: #061711;
    --dark-blue: #000c1d;
    --blue: #1e95d4;

    --head-font: 'Century Gothic', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --default-font-size: 16px;

    --font-size-xs: 9px;
    --font-size-sm: 12px;
    --font-size-df: 16px;
    --font-size-md: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 26px;
    --font-size-xxl: 32px;
    --font-size-xxxl: 38px;
    --font-display-1: 10em;
    --font-display-2: 8em;
    --font-display-3: 6em;
    --font-display-4: 4em;
    --font-display-5: 2em;
    --font-display-6: 1em;

    --font-super-display-1: 18em;
    --font-super-display-2: 14em;
    --font-super-display-3: 12em;

    --max-width: 1200px;
}